h1 {
    text-align: center;
    background-color:black;
    color:white;
    width:100%;
    padding:15px;
}
.input-group {
    margin-bottom: 15px;
}
.card {
    width:100%;
}
.green {
    background-color: lightgreen;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.fiveDay{    
    background-color: royalblue;
    margin: 15px;
}
h3 {
    float:left;
}